*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    height: 100vh;
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 26px;
}
#logo{
    height:15px;
}

#nav_s_1{
 align-items: center;
 justify-content: center;
 gap: 10px;
 display: flex;
}

#nav_s_2{
    display: flex;
   background:rgb(177, 175, 175);
    border-radius: 30px;
    border:0.5px rgb(211, 209, 209);
    color: black;
     overflow: hidden;
     align-items: center;
     justify-content: center;
}
#nav_s_2 input{
  background:rgb(177, 175, 175);
  border: none;
  height: 100%;
  margin-top: -12px;
  width: 400px;
  pad: 7px 20px;
}

#nav_s_2 i{
    background-color: rgb(160, 158, 158);
    height: 100%;
    padding: 7px 20px;
}
#nav2_outerdiv{
    color: white;
    display: flex;
  
    align-items: center;
    gap: 10px;
    }
#nav_s_3{
    display: flex;
   gap: 10px;
}


#nv3_btn1{
    display: flex;
    background-color:rgb(177, 175, 175) ;
    padding: 10px 9px;
    gap: 7px;
     border-radius: 30px;
     border-style: solid;
}
#nv3_btn2{
   padding: 10px ;
    background-color:rgb(177, 175, 175) ;
     border-radius: 36px;
      border-style: solid;
}
#nv3_btn3{
   padding: 10px 12px;
   border-radius:50px;
    border-style: solid;
}
#container{
    display: flex;

}
#menu{
display: flex;
flex-direction: column;
gap: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 7px 7px;
   
}
#menu p{
    font-size: 9px;
}
.topics{
    padding: 4px;
    background-color: rgb(82, 80, 80);
    border-radius: 5px;
}
#topics{
    display: flex;
    gap: 7px;
    font-size: 12px;
}
.card{
    padding: 10px;
   ;
}
.card img{
    width: 400px; 
    border-radius: 20px;

}
.info img{
    width: 40px;
    height: 40px;
}
.info{
    display: flex;
    gap: 11px;
}
.vdo_title{
    font-size: 11px;
}
.vdo_info{
   font-size: 9px;
}
#video_container{
    display: flex;
    flex-wrap: wrap;
}
