* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
#logo {
  height: 20px;
}

#nav_s_1 {
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
}
#nav_s_1 i{
    font-size: x-large;
    
}

#nav_s_2 {
  display: flex;
  background: black;
  border-radius: 30px;
  border: 1px solid rgb(78, 77, 77);
  color: black;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-top: 5px;
     
}
#nav_s_2 input {
  background: black;
  border: solid black;
  height: 100%;
  margin-top: -2px;
  width: 400px;
  padding: 7px 20px;
  height: 30px;
  color: white;
}
#nav_s_2 input:focus {
  outline: none;
}

#nav_s_2 i {
background-color: hsla(0, 0%, 100%, .17);
  height: 68%;
  padding: 20px;
  font-size: x-large;
  color: white;
}
#nav2_outerdiv {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;

}
#mic{
     font-size: large;
     border: 1px solid rgb(116, 112, 112);
     border-radius: 30px;
     padding: 7px 4px;
     margin-top: 7px;
   background-color: hsla(0, 0%, 100%, .17);
     background-color:opacity(0.2);
}
#nav_s_3 {
  display: flex;
  gap: 10px;
}

#nv3_btn1 {
  display: flex;
background-color: hsla(0, 0%, 100%, .17);
  padding: 1px 10px;
  line-height: 0;
  gap: 7px;
  border-radius: 30px;
  border-style: solid;
  font-size: medium;
  color: white;
  align-items: center;
}
#nv3_btn1 > :first-child {
  font-size: xx-large;
}
#nv3_btn2 {
  padding: 10px;
background-color: hsla(0, 0%, 100%, .17);
  border-radius: 36px;
  border-style: solid;
    color: white;
}
#nv3_btn3 {
  padding: 10px 12px;
  border-radius: 50px;
  border-style: solid;
}
#container {
  display: flex;
  padding-top: 7px;
}
#menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 13px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding: 7px 7px;
}
#menu p {
  font-size: 9px;
}
.topics {
  padding: 4px;
   background-color: hsla(0, 0%, 100%, .20);
  border-radius: 5px;
}

#topics {
  display: flex;
  gap: 7px;
  font-size: 12px;
  white-space: nowrap;
}

.card {
  padding: 10px;
}
.card img {
  width: 400px;
  height: 200px;
  border-radius: 20px;
}
.info img {
  width: 40px;
  height: 40px;
}
.info {
  display: flex;
  gap: 11px;
}
.vdo_title {
  font-size: 11px;
}
.vdo_info {
  font-size: 9px;
}
#video_container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
}
